@charset "UTF-8";
/** PO file editor styles */
/* FLAG icon mappings
define( 'LOCO_FLAG_TRANSLATED',  0 ); // <- OK (unflagged)
define( 'LOCO_FLAG_INCORRECT',   1 ); // <- known to be incorrect in some way
define( 'LOCO_FLAG_PROVISIONAL', 2 ); // <- marked as needing review although tentatively approved
define( 'LOCO_FLAG_UNAPPROVED',  3 ); // <- not yet approved (basically a draft)
define( 'LOCO_FLAG_FUZZY',       4 ); // <- "fuzzy" in the Gettext sense of the word
define( 'LOCO_FLAG_INCOMPLETE',  5 ); // <- Still working on it
define( 'LOCO_FLAG_REJECTED',    6 ); // <- failed approval
*/
/* line 8, httpdocs/static/sass/wp/editor.scss */
#loco-editor { /** Custom textarea editing modes */ /** Inheritable styles to use with @extend */ /* FLAG icon mappings
define( 'LOCO_FLAG_TRANSLATED',  0 ); // <- OK (unflagged)
define( 'LOCO_FLAG_INCORRECT',   1 ); // <- known to be incorrect in some way
define( 'LOCO_FLAG_PROVISIONAL', 2 ); // <- marked as needing review although tentatively approved
define( 'LOCO_FLAG_UNAPPROVED',  3 ); // <- not yet approved (basically a draft)
define( 'LOCO_FLAG_FUZZY',       4 ); // <- "fuzzy" in the Gettext sense of the word
define( 'LOCO_FLAG_INCOMPLETE',  5 ); // <- Still working on it
define( 'LOCO_FLAG_REJECTED',    6 ); // <- failed approval
*/ /* div will always render on top of textarea unless textarea is also absolute having absolute text area causes problems, and div floating over textarea actually causes no issues (that I can find)
.has-mirror > textarea { position: absolute; top: 0;
}*/ /**  textarea proxy modes */ /** Generic resizer- can be wrapped around textarea etc.. */ /** General WinGrid styles */ /** Inheritable styles to use with @extend */ /* FLAG icon mappings
define( 'LOCO_FLAG_TRANSLATED',  0 ); // <- OK (unflagged)
define( 'LOCO_FLAG_INCORRECT',   1 ); // <- known to be incorrect in some way
define( 'LOCO_FLAG_PROVISIONAL', 2 ); // <- marked as needing review although tentatively approved
define( 'LOCO_FLAG_UNAPPROVED',  3 ); // <- not yet approved (basically a draft)
define( 'LOCO_FLAG_FUZZY',       4 ); // <- "fuzzy" in the Gettext sense of the word
define( 'LOCO_FLAG_INCOMPLETE',  5 ); // <- Still working on it
define( 'LOCO_FLAG_REJECTED',    6 ); // <- failed approval
*/ /* cell has no padding or margin for precise percentages */ /* a split cell has a solid colour */ /* cell body allows visible margins on appropriate edges */ /* ensure vertical split children stack left to right - width is set by JS */ /* left/right grabber */ /* up/down grabber */ /* overrides for tabular cell and locked groups ( disables resizing between thead and tbody */ /* non-split content overrides all */ /* floating toolbar for discreet buttons aligned with header */ /* scrollable areas */ /* performance of areas during drag-resize mouse-move operation
.is-resizing { &.wg-split-y { .wg-cell, .wg-content { } } &.wg-split-x { .wg-cell, .wg-content { // will-change: left; } }
}
*/ /* psudo table made of divs */ /* cell as single editable text area
.is-field > .wg-content { cursor: text; outline: none; word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap;  // Mozilla, since 1999 white-space: -pre-wrap;      // Opera 4-6 white-space: -o-pre-wrap;    // Opera 7 
}*/ /* navigable cells (horizontal only for now)  */ /** Place-holder. (used in wg-table viewport buffering) used as dummy element in DOM, so must have height, but no point being visible. */ /** Fatter hit areas for touch interaction     */ /** Common POEdit UI styles. */ /* whole table row status */ /* icon before source cell */ /* override wingrid base styles for specific cells */ /* sideways titles for plural source cells */ /* extracted comments / notes inside source cell */ border: solid 1px #ccc; }
/* line 9, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._ajax_loader_f2 { background: transparent url(../img/ajax-loader-f2.gif) 0 0 no-repeat; min-height: 16px; }
/* line 13, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._ajax_loader_f2x4 { background: transparent url(../img/ajax-loader-f2-x4.gif) 0 0 no-repeat; min-height: 75px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { /* line 19, httpdocs/static/sass/utils/_inherit.scss */
  #loco-editor ._ajax_loader_f2 { background-image: url(../img/ajax-loader-f2-x2.gif); background-size: 16px; } }
/* line 26, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._green_glow_inner, #loco-editor .is-editable > .wg-content > textarea:focus, #loco-editor .is-editable > .wg-content.has-focus .ace_scroller, #loco-editor .is-editable > .wg-content.has-focus .wysihtml-editor, #loco-editor .is-editable > .wg-content.has-focus .mce-content-body { -webkit-box-shadow: inset 0 0 10px 0 #3db63d; -moz-box-shadow: inset 0 0 10px 0 #3db63d; box-shadow: inset 0 0 10px 0 #3db63d; }
/* line 30, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._green_glow_outer { -webkit-box-shadow: 0 0 0.5em 0 #3db63d; -moz-box-shadow: 0 0 0.5em 0 #3db63d; box-shadow: 0 0 0.5em 0 #3db63d; }
/* line 14, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror { position: absolute; top: 0; border: solid 1px transparent; color: transparent; padding: 0.4em 0.6em; pointer-events: none; }
/* line 22, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror span { position: relative; }
/* line 26, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror span:after { color: #ccc; white-space: pre; display: inline-block; position: absolute; top: 0; line-height: normal; }
/* line 37, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror .crlf:after { content: "\00AC"; }
/* line 41, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror .eof:after { content: "\00B6"; }
/* line 45, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror .x20:after { content: "\00B7"; color: #aaa; }
/* line 50, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror .x9:after { content: "\27F6"; }
/* line 60, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror, #loco-editor .has-mirror textarea { white-space: pre-wrap; word-wrap: break-word; word-spacing: 0px; }
/* line 128, httpdocs/static/sass/utils/_funcs.scss */
#loco-editor .has-mirror ::-webkit-input-placeholder { color: transparent; }
/* line 132, httpdocs/static/sass/utils/_funcs.scss */
#loco-editor .has-mirror :-moz-placeholder { color: transparent; opacity: 1; }
/* line 136, httpdocs/static/sass/utils/_funcs.scss */
#loco-editor .has-mirror ::-moz-placeholder { color: transparent; opacity: 1; }
/* line 140, httpdocs/static/sass/utils/_funcs.scss */
#loco-editor .has-mirror :-ms-input-placeholder { color: transparent; }
/* line 144, httpdocs/static/sass/utils/_funcs.scss */
#loco-editor .has-mirror .ielt10 .placeheld { color: transparent; }
/* line 81, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror { left: 0; text-align: left; }
/* line 84, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror span:after { left: 0; }
/* line 87, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor div.ta-mirror .eol:after { padding-left: 0.2em; }
/* line 93, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor [dir="RTL"] div.ta-mirror { left: auto; right: 0; text-align: right; }
/* line 97, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor [dir="RTL"] div.ta-mirror span:after { right: 0; }
/* line 100, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor [dir="RTL"] div.ta-mirror .eol:after { padding-left: 0; padding-right: 0.2em; }
/* line 116, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .has-proxy > textarea { display: none !important; }
/* line 122, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .has-proxy .ace_editor { height: 100%; font-size: 13px !important; line-height: 1.4 !important; }
/* line 128, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .has-proxy .ace_editor .ace_marker-layer .ace_bracket { display: none; }
/* line 132, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .has-proxy .ace_print-margin { display: none; }
/* line 141, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .ace_printf { color: #b90690; background-color: #edf1be; }
/* line 147, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .no-php-format .ace_printf { color: inherit; background-color: transparent; }
/* line 159, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .resizer { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 0 6px 0; background: #f0f0f0 url(../img/wg/splity.png) center bottom no-repeat; border: 1px solid #ddd; overflow: hidden; cursor: move; cursor: row-resize; cursor: s-resize; }
/* line 168, httpdocs/static/sass/imports/_textarea.scss */
#loco-editor .resizer > * { height: 100%; border: none; }
/* line 9, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._ajax_loader_f2 { background: transparent url(../img/ajax-loader-f2.gif) 0 0 no-repeat; min-height: 16px; }
/* line 13, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._ajax_loader_f2x4 { background: transparent url(../img/ajax-loader-f2-x4.gif) 0 0 no-repeat; min-height: 75px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { /* line 19, httpdocs/static/sass/utils/_inherit.scss */
  #loco-editor ._ajax_loader_f2 { background-image: url(../img/ajax-loader-f2-x2.gif); background-size: 16px; } }
/* line 26, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._green_glow_inner, #loco-editor .is-editable > .wg-content > textarea:focus, #loco-editor .is-editable > .wg-content.has-focus .ace_scroller, #loco-editor .is-editable > .wg-content.has-focus .wysihtml-editor, #loco-editor .is-editable > .wg-content.has-focus .mce-content-body { -webkit-box-shadow: inset 0 0 10px 0 #3db63d; -moz-box-shadow: inset 0 0 10px 0 #3db63d; box-shadow: inset 0 0 10px 0 #3db63d; }
/* line 30, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._green_glow_outer { -webkit-box-shadow: 0 0 0.5em 0 #3db63d; -moz-box-shadow: 0 0 0.5em 0 #3db63d; box-shadow: 0 0 0.5em 0 #3db63d; }
/* line 9, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-cell, #loco-editor .wg-cell > div { clear: both; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 15, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-cell { left: 0; top: 0; padding: 0; margin: 0; overflow: hidden; }
/* line 24, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split { background: #eee; }
/* line 27, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-body:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* line 36, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div > .not-first > * { margin-left: 6px; }
/* line 39, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div > .not-first > * { margin-top: 6px; }
/* line 42, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div > .has-title .wg-content { margin-top: 0; }
/* line 48, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div > .wg-cell { float: left; clear: none; height: 100%; }
/* line 54, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div { cursor: move; cursor: ew-resize; cursor: col-resize; }
/* line 59, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div > .not-first:before { display: block; position: absolute; overflow: hidden; content: " "; }
/* line 65, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div > .not-first:before { width: 6px; height: 100%; background: transparent url(../img/wg/splitx.png) center center no-repeat; }
/* line 71, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div { cursor: move; cursor: ns-resize; cursor: row-resize; }
/* line 76, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div > .not-first:before { height: 6px; width: 100%; background: transparent url(../img/wg/splity.png) center center no-repeat; }
/* line 84, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div.locked { cursor: default; }
/* line 87, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div.locked > .not-first > * { margin-left: 1px; }
/* line 90, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div.locked > .not-first > * { margin-top: 1px; }
/* line 93, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div.locked > .not-first:before { display: none; }
/* line 98, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .has-title > header { background: #e2e2e2; cursor: default !important; margin: 0; white-space: nowrap; }
/* line 104, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-content { background: #fff; cursor: default; padding: 4px 6px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 113, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-toolbar { top: 0; right: 0; margin-top: 6px; position: absolute; }
/* line 119, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-toolbar > span { color: #fff; background: #000; display: block; padding: 0 6px; cursor: default !important; }
/* line 125, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-toolbar > span:active { color: #000; background-color: #fff; }
/* line 134, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-content, #loco-editor .wg-tbody > div { overflow: scroll; overflow-x: hidden; overflow-y: auto; /* scroll performance trick */ }
/* line 162, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table { background-color: #fff; /* table column headers */ }
/* line 165, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-thead .has-title > header { font-weight: normal; background: transparent; padding: 4px 0; margin: 0 0 0 10px; }
/* line 172, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-thead > div > .not-first:before { background-position: center center; }
/* line 175, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-thead { background: #e2e2e2; border-bottom: solid 1px #ccc; }
/* line 179, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-tbody { background-image: url(data:image/gif;base64,R0lGODlhAQAsAIABAPz8/P///yH5BAEAAAEALAAAAAABACwAAAIIjI+pAe0PIygAOw==); position: relative; }
/* line 184, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols { outline: none; }
/* line 187, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div { float: left; clear: none; }
/* line 191, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div > div { white-space: nowrap; line-height: 1.7em; padding-left: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; background-color: #fff; }
/* line 198, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div > div:nth-child(even) { background-color: #f7f7f7; }
/* line 202, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div > div.selected { background-color: #3db63d; color: #fff; }
/* line 208, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div:first-child > div { padding-left: 4px; }
/* line 213, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-dead { clear: both; }
/* line 230, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-field > .wg-content { cursor: text; outline: none; padding: 0; line-height: normal; overflow: hidden; overflow-y: hidden; }
/* line 239, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-field > .wg-content > div, #loco-editor .is-field > .wg-content > textarea { font-size: 14px; line-height: 1.4; border: 1px solid #ddd; width: 100%; height: 100%; padding: 8px 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
/* line 252, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-field > .wg-content textarea { resize: none; overflow: auto; display: block; }
/* line 258, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-field > .wg-content > .ace_editor { padding: 0; border-width: 0; }
/* line 263, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-field > .wg-content > div[contenteditable] { overflow: scroll; overflow-x: hidden; overflow-y: auto; }
/* line 270, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-readonly > .wg-content { cursor: default; }
/* line 272, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-readonly > .wg-content > div, #loco-editor .is-readonly > .wg-content > textarea, #loco-editor .is-readonly > .wg-content > textarea[readonly] { background: #f8f8f8; text-shadow: 0 1px #fff; color: inherit; }
/* line 281, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-readonly > .wg-content .ace_scroller { cursor: default; background: #f8f8f8; }
/* line 285, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-readonly > .wg-content .ace_cursor-layer { display: none; }
/* line 302, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-editable > .wg-content[dir="RTL"] .ace_editor .ace_line { direction: ltr; unicode-bidi: bidi-override; }
/* line 312, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs { white-space: nowrap; text-align: center; cursor: default; }
/* line 316, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs > a { display: inline-block; padding: 0.5em 1em; margin-top: 0.2em; color: #000; text-decoration: none; -webkit-border-radius: 0.2em 0.2em 0 0; -moz-border-radius: 0.2em 0.2em 0 0; -ms-border-radius: 0.2em 0.2em 0 0; -o-border-radius: 0.2em 0.2em 0 0; border-radius: 0.2em 0.2em 0 0; background-color: #f3f7fd; }
/* line 324, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs > a:hover { background-color: #fff; }
/* line 327, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs > a.active { background-color: #3db63d; color: #fff; }
/* line 335, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div > .has-nav > .wg-body { margin-top: 0px; }
/* line 344, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-dead { visibility: hidden; }
@media all and (max-width: 768px) { /* line 354, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-x > div > .not-first > * { margin-left: 20px; }
  /* line 357, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-y > div > .not-first > * { margin-top: 20px; }
  /* line 360, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-x > div > .not-first:before { width: 20px; }
  /* line 363, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-y > div > .not-first:before { height: 20px; }
  /* line 366, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .is-table .wg-thead header { padding-left: 20px; } }
/* line 8, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .po-fuzzy { color: #b59829; font-weight: bold; }
/* line 12, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .po-empty { color: #1f507a; font-weight: bold; }
/* line 16, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .po-flagged { color: #CC0000; }
/* line 23, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div:before { font-family: loco; vertical-align: inherit; display: inline-block; content: " "; width: 1.3em; line-height: 1; }
/* line 34, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flagged:before { content: ""; }
/* line 37, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-2:before { content: ""; }
/* line 40, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-3:before { content: ""; }
/* line 43, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-fuzzy:before, #loco-editor .is-table .wg-cols > div:first-child > div.po-flag-4:before { content: ""; }
/* line 47, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-5:before { content: ""; }
/* line 50, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-6:before { content: ""; }
/* line 54, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-comment:before { content: "\e613"; color: #999; }
/* line 58, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-unsaved:before { content: "\e612"; color: #f1d040; }
/* line 62, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.selected:before { color: #fff !important; }
/* line 70, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-list .wg-content { padding: 0; }
/* line 75, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source > .wg-body > .has-title > header { background: transparent; font-weight: normal; float: left; clear: none; min-width: 3.4em; }
/* line 82, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source > .wg-body > .has-title > .wg-content { clear: none; }
/* line 87, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source p.notes { color: #666; margin: 0 0 0.5em 0; font-size: 12px; line-height: 1.2em; }
/* line 94, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source > p.notes { margin: 0; padding: 4px 6px; cursor: default !important; }
/* line 101, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .has-title > header { font-weight: bold; line-height: 1.2em; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; padding: 4px 6px; /* locale indicators */ }
/* line 107, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .has-title > header .lang { margin-right: 6px; margin-bottom: 1px; }
/* line 17, httpdocs/static/sass/wp/editor.scss */
#loco-editor #po-source > .wg-body > .has-title > h2 { min-width: 4.5em; }
/* line 22, httpdocs/static/sass/wp/editor.scss */
#loco-editor .is-table .wg-td { font-size: 13px; }

/* line 30, httpdocs/static/sass/wp/editor.scss */
#loco-editor-inner { min-height: 600px; font-size: 14px; clear: both; }

/* line 36, httpdocs/static/sass/wp/editor.scss */
#loco-editor-inner h2 { color: #000; line-height: 1; }

/* editor toolbar / buttons */
/* line 45, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar { font-size: 14px; height: 50px; }
/* line 48, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar form { display: block; float: left; clear: none; padding: 0; margin: 0; }
/* line 55, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar form.aux { float: right; margin-right: 5px; }
/* line 59, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar fieldset { display: block; position: relative; float: left; clear: none; }
/* line 65, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar button, #loco.wrap #loco-toolbar input[type="text"] { display: block; position: relative; float: left; clear: none; margin: 5px 0 0 5px; height: 36px; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 75, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar input[type="text"] { padding: 0 10px; font-size: 14px; line-height: normal; }
/* line 80, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .invalid input[type="text"]:focus { border-color: #cc0000; -webkit-box-shadow: 0 0 2px rgba(153, 0, 0, 0.5); -moz-box-shadow: 0 0 2px rgba(153, 0, 0, 0.5); box-shadow: 0 0 2px rgba(153, 0, 0, 0.5); }
/* line 84, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable { padding: 0 20px; }
/* line 86, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable.invalid a.clear:before { color: #cc0000; }
/* line 89, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable a.clear { right: 25px; line-height: 2; }
/* line 92, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable a.clear:focus { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 95, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable a.clear:hover:before { color: #cc0000; }
/* line 98, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable a.clear:active:before { color: #000; }
/* line 104, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar button { -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; }
/* line 109, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar button.has-icon:before { width: 16px; padding: 0; }
/* line 113, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar button.has-icon.loading:before { content: " "; height: 16px; background: transparent url(../img/spin-editor-button.gif) 0 0 no-repeat; }
/* line 121, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar button.only-icon { width: 40px; }

/*# sourceMappingURL=editor.css.map */
