@charset "UTF-8";
/** PO file editor styles */
/* FLAG icon mappings
define( 'LOCO_FLAG_TRANSLATED',  0 ); // <- OK (unflagged)
define( 'LOCO_FLAG_INCORRECT',   1 ); // <- known to be incorrect in some way
define( 'LOCO_FLAG_PROVISIONAL', 2 ); // <- marked as needing review although tentatively approved
define( 'LOCO_FLAG_UNAPPROVED',  3 ); // <- not yet approved (basically a draft)
define( 'LOCO_FLAG_FUZZY',       4 ); // <- "fuzzy" in the Gettext sense of the word
define( 'LOCO_FLAG_INCOMPLETE',  5 ); // <- Still working on it
define( 'LOCO_FLAG_REJECTED',    6 ); // <- failed approval
*/
/* line 8, httpdocs/static/sass/wp/editor.scss */
#loco-editor { /** General WinGrid styles */ /** Inheritable styles to use with @extend */ /* FLAG icon mappings
define( 'LOCO_FLAG_TRANSLATED',  0 ); // <- OK (unflagged)
define( 'LOCO_FLAG_INCORRECT',   1 ); // <- known to be incorrect in some way
define( 'LOCO_FLAG_PROVISIONAL', 2 ); // <- marked as needing review although tentatively approved
define( 'LOCO_FLAG_UNAPPROVED',  3 ); // <- not yet approved (basically a draft)
define( 'LOCO_FLAG_FUZZY',       4 ); // <- "fuzzy" in the Gettext sense of the word
define( 'LOCO_FLAG_INCOMPLETE',  5 ); // <- Still working on it
define( 'LOCO_FLAG_REJECTED',    6 ); // <- failed approval
*/ /* cell has no padding or margin for precise percentages */ /* a split cell has a solid colour */ /* cell body allows visible margins on appropriate edges */ /* ensure vertical split children stack left to right - width is set by JS */ /* left/right grabber */ /* up/down grabber */ /* overrides for tabular cell and locked groups ( disables resizing between thead and tbody */ /* non-split content overrides all */ /* scrollable areas */ /* performance of areas during drag-resize mouse-move operation
.is-resizing { &.wg-split-y { .wg-cell, .wg-content { } } &.wg-split-x { .wg-cell, .wg-content { // will-change: left; } }
}
*/ /* psudo table made of divs */ /* cell as single editable text area */ /* navigable cells (horizontal only for now)  */ /** Place-holder. (used in wg-table viewport buffering) used as dummy element in DOM, so must have height, but no point being visible. */ /** Fatter hit areas for touch interaction     */ /** Common POEdit UI styles. */ /* whole table row status */ /* icon before source cell */ /* override wingrid base styles for specific cells */ /* sideways titles for plural source cells */ /* extracted comments / notes inside source cell */ /* locale indicators in wingrid titles */ border: solid 1px #ccc; }
/* line 8, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._ajax_loader_f2 { background: transparent url(../img/ajax-loader-f2.gif) 0 0 no-repeat; min-height: 16px; }
/* line 13, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._ajax_loader_f2x4 { background: transparent url(../img/ajax-loader-f2-x4.gif) 0 0 no-repeat; min-height: 75px; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) { /* line 19, httpdocs/static/sass/utils/_inherit.scss */
  #loco-editor ._ajax_loader_f2 { background-image: url(../img/ajax-loader-f2-x2.gif); background-size: 16px; } }
/* line 26, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._green_glow_inner, #loco-editor .is-editable > .wg-content .wg-field:focus { -webkit-box-shadow: inset 0 0 0.6em 0 #3db63d; -moz-box-shadow: inset 0 0 0.6em 0 #3db63d; box-shadow: inset 0 0 0.6em 0 #3db63d; }
/* line 30, httpdocs/static/sass/utils/_inherit.scss */
#loco-editor ._green_glow_outer { -webkit-box-shadow: 0 0 0.5em 0 #3db63d; -moz-box-shadow: 0 0 0.5em 0 #3db63d; box-shadow: 0 0 0.5em 0 #3db63d; }
/* line 9, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-cell, #loco-editor .wg-cell div { clear: both; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 15, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-cell { left: 0; top: 0; padding: 0; margin: 0; overflow: hidden; }
/* line 24, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split { background: #eee; }
/* line 27, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-body:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
/* line 36, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div > .not-first > * { margin-left: 6px; }
/* line 39, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div > .not-first > * { margin-top: 6px; }
/* line 42, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div > .has-title .wg-content { margin-top: 0; }
/* line 48, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div > .wg-cell { float: left; clear: none; height: 100%; }
/* line 54, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div { cursor: move; cursor: ew-resize; cursor: col-resize; }
/* line 59, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div > .not-first:before { display: block; position: absolute; overflow: hidden; content: " "; }
/* line 65, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div > .not-first:before { width: 6px; height: 100%; background: transparent url(../img/wg/splitx.png) center center no-repeat; }
/* line 71, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div { cursor: move; cursor: ns-resize; cursor: row-resize; }
/* line 76, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div > .not-first:before { height: 6px; width: 100%; background: transparent url(../img/wg/splity.png) center center no-repeat; }
/* line 84, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div.locked { cursor: default; }
/* line 87, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > div.locked > .not-first > * { margin-left: 1px; }
/* line 90, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-y > div.locked > .not-first > * { margin-top: 1px; }
/* line 93, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div.locked > .not-first:before { display: none; }
/* line 98, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-title { background: #ddd; cursor: default !important; margin: 0; padding: 4px 6px; font-size: 1em; white-space: nowrap; }
/* line 106, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-content { background: #fff; cursor: default; padding: 4px 6px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 115, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-content, #loco-editor .wg-tbody > div { overflow: scroll; overflow-x: hidden; overflow-y: auto; /* scroll performance trick */ }
/* line 143, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table { background-color: #fff; /* table column headers */ }
/* line 146, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-title { padding: 3px 10px; margin: 0 !important; font-weight: normal; }
/* line 151, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-thead > div > .not-first:before { background-position: center center; }
/* line 154, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-thead { background: #ddd; border-bottom: solid 1px #ccc; }
/* line 158, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-tbody { background-image: url(data:image/gif;base64,R0lGODlhAQAsAIABAPz8/P///yH5BAEAAAEALAAAAAABACwAAAIIjI+pAe0PIygAOw==); }
/* line 162, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols { outline: none; }
/* line 165, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div { float: left; clear: none; }
/* line 169, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div > div { white-space: nowrap; line-height: 1.7em; padding-left: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; -o-text-overflow: ellipsis; -ms-text-overflow: ellipsis; background-color: #fff; }
/* line 176, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div > div:nth-child(even) { background-color: #f7f7f7; }
/* line 180, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div > div.selected { background-color: #3db63d; color: #fff; }
/* line 186, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-table .wg-cols > div:first-child > div { padding-left: 4px; }
/* line 194, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-field > .wg-content { cursor: text; outline: none; word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ }
/* line 204, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-readonly > .wg-content { cursor: default; background: #f8f8f8; text-shadow: 0 1px #fff; padding: 0.6em 0.8em; /*&:focus { @include box-shadow( inset 0 0 6px #cc0000 ); // <- red glow
}*/ }
/* line 215, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-editable > .wg-content { padding: 0; }
/* line 217, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-editable > .wg-content .wg-field { width: 100%; height: 100%; padding: 0.6em 0.8em; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; border-radius: 0; }
/* line 227, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .is-editable > .wg-content textarea { resize: none; overflow: auto; display: block; }
/* line 240, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs { white-space: nowrap; text-align: center; }
/* line 243, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs > a { display: inline-block; padding: 0.5em 1em; color: #000; text-decoration: none; -webkit-border-radius: 0.2em 0.2em 0 0; -moz-border-radius: 0.2em 0.2em 0 0; -ms-border-radius: 0.2em 0.2em 0 0; -o-border-radius: 0.2em 0.2em 0 0; border-radius: 0.2em 0.2em 0 0; background-color: #f3f7fd; }
/* line 250, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs > a:hover { background-color: #fff; }
/* line 253, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split-x > nav.wg-tabs > a.active { background-color: #3db63d; color: #fff; }
/* line 261, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-split > div > .has-nav > .wg-body { margin-top: 0px; }
/* line 270, httpdocs/static/sass/imports/_wingrid.scss */
#loco-editor .wg-dead { visibility: hidden; }
@media all and (max-width: 768px) { /* line 280, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-x > div > .not-first > * { margin-left: 20px; }
  /* line 283, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-y > div > .not-first > * { margin-top: 20px; }
  /* line 286, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-x > div > .not-first:before { width: 20px; }
  /* line 289, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .wg-split-y > div > .not-first:before { height: 20px; }
  /* line 292, httpdocs/static/sass/imports/_wingrid.scss */
  #loco-editor .is-table .wg-title { padding-left: 20px; } }
/* line 8, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .po-fuzzy { color: #b59829; font-weight: bold; }
/* line 12, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .po-empty { color: #1f507a; font-weight: bold; }
/* line 16, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .po-flagged { color: #CC0000; }
/* line 23, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div:before { font-family: loco; vertical-align: inherit; display: inline-block; content: " "; width: 1.3em; line-height: 1; }
/* line 34, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flagged:before { content: ""; }
/* line 37, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-2:before { content: ""; }
/* line 40, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-3:before { content: ""; }
/* line 43, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-fuzzy:before, #loco-editor .is-table .wg-cols > div:first-child > div.po-flag-4:before { content: ""; }
/* line 47, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-5:before { content: ""; }
/* line 50, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-flag-6:before { content: ""; }
/* line 54, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-comment:before { content: "\e613"; color: #999; }
/* line 58, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.po-unsaved:before { content: "\e612"; color: #f1d040; }
/* line 62, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .is-table .wg-cols > div:first-child > div.selected:before { color: #fff !important; }
/* line 70, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-list .wg-content { padding: 0; }
/* line 75, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source > .wg-body > .has-title > h2 { background: transparent; font-weight: normal; float: left; clear: none; min-width: 3.4em; }
/* line 82, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source > .wg-body > .has-title > .wg-content { clear: none; }
/* line 87, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source p.notes { font-style: italic; color: #999; margin: 0 0 0.5em 0; font-size: 0.85em; line-height: 1.2em; }
/* line 95, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor #po-source > p.notes { margin: 0; padding: 4px 6px; cursor: default !important; }
/* line 102, httpdocs/static/sass/imports/_poedit.scss */
#loco-editor .wg-title .lang { margin-right: 6px; }
/* line 17, httpdocs/static/sass/wp/editor.scss */
#loco-editor #po-source > .wg-body > .has-title > h2 { min-width: 4.5em; }
/* line 21, httpdocs/static/sass/wp/editor.scss */
#loco-editor .is-table .wg-td { font-size: 13px; }

/* line 28, httpdocs/static/sass/wp/editor.scss */
#loco-editor-inner { min-height: 600px; font-size: 14px; clear: both; }

/* line 34, httpdocs/static/sass/wp/editor.scss */
#loco-editor-inner h2 { color: #000; line-height: 1; }

/* editor toolbar / buttons */
/* line 43, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar { font-size: 14px; height: 50px; }
/* line 46, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar form { display: block; float: left; clear: none; padding: 0; margin: 0; }
/* line 53, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar form.aux { float: right; margin-right: 5px; }
/* line 57, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar fieldset { display: block; position: relative; float: left; clear: none; }
/* line 63, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar button, #loco.wrap #loco-toolbar input[type="text"] { display: block; position: relative; float: left; clear: none; margin: 5px 0 0 5px; height: 40px; text-align: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
/* line 73, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar input[type="text"] { padding-left: 10px; margin-left: 20px; font-size: 14px; line-height: normal; }
/* line 79, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .invalid input[type="text"]:focus { border-color: #cc0000; -webkit-box-shadow: 0 0 2px rgba(153, 0, 0, 0.5); -moz-box-shadow: 0 0 2px rgba(153, 0, 0, 0.5); box-shadow: 0 0 2px rgba(153, 0, 0, 0.5); }
/* line 84, httpdocs/static/sass/wp/editor.scss */
#loco.wrap #loco-toolbar .loco-clearable a.clear { padding: 1em 0.5em; }

/*# sourceMappingURL=editor.css.map */
