<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
>

    <testsuites>
        <testsuite>
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
